body{
	background-image: linear-gradient(white, #0dacb5);
}

#links2 {
	justify-content: center;
  	align-items: center;
  	display: flex;
}

#main2 {
	height: auto;
	width: 70%;
	background: #BDBCBC;
	border-style: solid;
	border-radius: 15px;
	padding: 15px;
  	display: block;
}

#wrapper2 {
	font-size: 20px;
  	padding-right: 15%;
	padding-left: 15%;	
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

form {
	padding: 10px;
}

h5 {
	display: inline-block;
	padding: 10px;
	font-size: 24px;
}


#recorder, #observers {
	width: 50%;
}

input[type=text] {
	width: 150px;
}

label {
	font-weight: bold;
	font-family: Arial;
	font-size: 25px;
}
