body{
	background: #F6E3CE;
	width: 100%;
	height: 100%;
	font-family: 'Verdana';
	padding-top: 10px;
}

h1 {
	color: #FF8101;
	float: center;
	size: 55px;
	justify-content: center;
  	align-items: center;
  	display: flex;
  	padding: 3px;
}

h2 {
	color: #434243;
	float: center;
	size: 35px;
	justify-content: center;
  	align-items: center;
  	display: flex;
  	padding: 3px;
  	font-family: "Courier New";
  	font-weight: bold;
}

label {
	font-size: 20px;
	padding: 6px;
}

.container {
	background: #F6E3CE;
	padding-right: 50px;
	padding-left: 50px;
}

#header {
	float: center;
	background: white;
	height: 150px;
	padding: 20px;
	padding-bottom: 50px;
	justify-content: center;
  	align-items: center;
}

#main {
	background: white;
	border-style: solid;
	padding: 40px;
	padding-bottom: 20px;
	height: 500px;	
}

#results {
	position: relative;
	top: -200px;
	left: 500px;
}
